@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
  font-family: 'Cormorant', serif;
  font-weight: 700;
}

.t {
    font-family: 'Cormorant', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Cormorant', serif;
    font-weight: 500;
  } */


body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #fefaf0; */
}

@keyframes speakAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.speaking {
  animation: speakAnimation 0.5s ease-in-out infinite;
}
